{% extends "base.html" %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Dashboard</h4>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="">
                {% with messages = get_flashed_messages('success') %}
                    {% if messages %}
                        {% for message in messages %}

                        {% if message[0] == 'info' %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message[1] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                        {% if message[0] == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message[1] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                        {% if message[0] == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message[1] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

        <div class="row mb-2">
            <div class="col-4">
                <a class="btn btn-primary waves-effect waves-light" href="/add-action" role="button">Add Action</a>
            </div>
        </div><!-- end row -->



        <div class="row">
            <div class="card">
                <div class="card-body pb0">
                    <h4 class="card-title mb-4">Devices</h4>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 align-middle table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Destination</th>
                                    <th>Field</th>
                                    <th>Operation</th>
                                    <th>Value</th>
                                    <th>  </th>
                                </tr>
                            </thead><!-- end thead -->
                            <tbody>
                                <tr>
                                    {% if actions %}
                                    {% for action in actions %}
                                <tr>
                                    <td>
                                        <a href="">
                                            <h6 class="mb-0">{{ action.id }}</h6>
                                        </a>
                                    </td>
                                    <td>{{ action.name }}</td>
                                    <td>
                                        {{ action.type }}
                                    </td>
                                    <td>
                                        {{ action.destination }}
                                    </td>
                                    <td>
                                        {{ action.field }}
                                    </td>
                                    <td>
                                        {{ action.operation }}
                                    </td>
                                    <td>
                                        {{ action.value }}
                                    </td>
                                    <td>
                                        <a class="btn btn-danger waves-effect waves-light"
                                            href="/delete-action/{{action.id}}" role="button">Delete Action</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tr>

                            </tbody><!-- end tbody -->
                        </table> <!-- end table -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>

</div>
{% endblock %}