{% extends "base.html" %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Dashboard</h4>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row mb-2">
            <div class="col-4">
                <button type="button" class="btn btn-success waves-effect waves-light">
                    <i class="ri-add-circle-fill align-middle me-2"></i> Add Device
                </button>
            </div>
        </div><!-- end row -->



        <div class="row">
            <div class="card">
                <div class="card-body pb0">
                    <h4 class="card-title mb-4">Devices</h4>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 align-middle table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th>Device</th>
                                    <th>Code Name</th>
                                    <th>Name</th>
                                    <th>Discription</th>
                                    <th>Last Time Seen</th>
                                </tr>
                            </thead><!-- end thead -->
                            <tbody>
                                <tr>
                                    {% if devices %}
                                        {% for device in devices %}
                                            <tr>
                                                <td>
                                                    <a href="{{ url_for('device', id=device.id) }}"><h6 class="mb-0">{{ device.id }}</h6></a> 
                                                </td>
                                                <td>{{ device.code_name }}</td>
                                                <td>
                                                    {{ device.name }}
                                                </td>
                                                <td>
                                                    {{ device.description }}
                                                </td>
                                                <td>
                                                    minute ago
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tr>

                            </tbody><!-- end tbody -->
                        </table> <!-- end table -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>

</div>
{% endblock %}