{% extends "base.html" %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Dashboard</h4>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-truncate font-size-14 mb-2">Status</p>
                                <h4 id="status" class="mb-2"></h4>
                            </div>
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-primary rounded-3">
                                    <i class="ri-router-fill font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-truncate font-size-14 mb-2">Temperature</p>
                                <h4 id="temperature_value" class="mb-2">{{ temp }}</h4>
                            </div>
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-primary rounded-3">
                                    <i class="fas fa-thermometer-half font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-truncate font-size-14 mb-2">Humidity</p>
                                <h4 id="humidity_value" class="mb-2">{{ hum }}</h4>
                            </div>
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-primary rounded-3">
                                    <i class="fas fa-water font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-truncate font-size-14 mb-2">Gas Sensor</p>
                                <h4 id="gas_value" class="mb-2">{{ gas }}</h4>
                            </div>
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-primary rounded-3">
                                    <i class="fas fa-tachometer-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->



        <div class="row">
            <div class="card">
                <div class="card-body pb0">
                    <h4 class="card-title mb-4">{{ device.name }} - Map</h4>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Temp and Humidity Chart</h4>

                    <div id="history_chart" class="apex-charts" dir="ltr"></div>
                </div>
            </div><!--end card-->
        </div>

        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Gas Chart</h4>

                    <div id="gas_chart" class="apex-charts" dir="ltr"></div>
                </div>
            </div><!--end card-->
        </div> <!-- end row -->


        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">

                        </div>
                    </div>

                    <h4 class="card-title mb-4">History</h4>

                    <div class="table-responsive">
                        <table class="table table-centered mb-0 align-middle table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th>Device</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Gas</th>
                                    <th>Temperature</th>
                                    <th>Humidity</th>
                                    <th>Date</th>
                                </tr>
                            </thead><!-- end thead -->
                            <tbody>
                                {% if histories %}
                                {% for history in histories %}
                                <tr>
                                    <td>
                                        <h6 class="mb-0">{{ device.code_name }}</h6>
                                    </td>
                                    <td>{{ device.name }}</td>
                                    <td>Latitude: {{ history.lat }}, Langtitude: {{ history.lng }}</td>
                                    <td>
                                        {{ history.gas }}
                                    </td>
                                    <td>
                                        {{ history.temperature }}
                                    </td>
                                    <td>
                                        {{ history.humidity }}
                                    </td>
                                    <td>
                                        {{ history.timestamp }}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                <!-- end -->
                                <!-- end -->
                            </tbody><!-- end tbody -->
                        </table> <!-- end table -->
                    </div>
                </div><!-- end card -->
            </div><!-- end card -->

        </div>
        <!-- end row -->
    </div>

</div>
{% endblock %}

{% block websocket %}
<!-- apexcharts -->
<script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>
<script>
    // apex chart
    var apex_options = {
        chart: {
            height: 350,
            type: "area"
        },
        dataLabels: {
            enabled: !1
        },
        stroke: {
            curve: "smooth",
            width: 3
        },
        series: [],
        colors: ["#0f9cf3", "#1cbb8c"],
        xaxis: {
            type: "datetime",
            // range: XAXISRANGE,
            // categories: ["2018-09-19T00:00:00", "2018-09-19T01:30:00", "2018-09-19T02:30:00", "2018-09-19T03:30:00", "2018-09-19T04:30:00", "2018-09-19T05:30:00", "2018-09-19T06:30:00"]
        },
        grid: {
            borderColor: "#f1f1f1",
            padding: {
                bottom: 15
            }
        },
        tooltip: {
            x: {
                format: "dd/MM/yy HH:mm"
            }
        },
        legend: {
            offsetY: 7
        }
    };

    var history_chart = new ApexCharts(document.querySelector("#history_chart"), apex_options);
    history_chart.render();

    var gas_chart = new ApexCharts(document.querySelector("#gas_chart"), apex_options);
    gas_chart.render();

    var map = L.map('map').setView([32.782937, 12.56658], 8);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    // var marker = L.marker([32.901467821069986, 13.229698875281889]).addTo(map);
    var marker = L.marker([]);
    marker.bindPopup("<b>{{ device.code_name }}</b><br>Status On")

    function update_widgets(status, temperature, humidity, gas) {

        let status_el = document.getElementById('status');
        let temperature_el = document.getElementById('temperature_value');
        let humidity_el = document.getElementById('humidity_value');
        let speed_el = document.getElementById('gas_value');

        status_el.innerHTML = 'CONNECTED'
        temperature_el.innerHTML = temperature
        humidity_el.innerHTML = humidity
        speed_el.innerHTML = gas
    }

    function update_map(marker, lat, lng) {
        var newLatLng = new L.LatLng(lat, lng);
        marker.setLatLng(newLatLng)
    }
    const socket = new WebSocket('ws://' + location.host + '/device')
    // socket.send('Hello')
    socket.onopen = (event) => {
        console.log(event);
        socket.send(JSON.stringify({ device: '{{ device.code_name }}', }))
        marker = marker.addTo(map);
    }

    var object = {}
    socket.onmessage = (event) => {
        console.log(event)
        object = JSON.parse(event.data)
        console.log(object)

        update_widgets('CONNECTED', object.temp, object.hum, object.gas)
        update_map(marker, object.lat, object.lng)
    }


    addEventListener("beforeunload", (event) => {
        socket.send('CLOSE');
    });



    zip = rows=>rows[0].map((_,c)=>rows.map(row=>row[c]))

    function update_series(data){
        output_1 = (zip([data.TIME, data.temp]))
        output_2 = (zip([data.TIME, data.hum]))
        output_3 = (zip([data.TIME, data.gas]))

        history_chart.updateSeries([{
            name: "Temperature",
            data: output_1
        }, {
            name: "Humidity",
            data: output_2
        }], 1000)

        gas_chart.updateSeries([ {
            name: "Gas",
            data: output_3
        }], 1000)
        
    }
    

    fetch("/history/{{device.id}}")
    .then(response => response.json())
    .then(data => update_series(data))
    .catch(error => console.error('Error: ', error));


</script>
{% endblock %}